{% assign honors = site.data.data.honors %}
{% if honors %}
<section class="section honors-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-award fa-stack-1x fa-inverse"></i>
    </span>
    {{ honors.title }}
  </h2>

  {% if honors.intro %}
  <div class="intro">
    {{ honors.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for honor in honors.papers %}
  <div class="item">
    {% if honor.link %}
      <li><a href="{{ honor.link }}">{{ honor.title }}</a></li>
    {% else %}
      <li>{{ honor.title }}</li>
    {% endif %}
    <div class="honor-authors">{{ honor.authors }}</div>
    <div class="honor-conference">{{ honor.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
